[submodule "cwipc_util"]
	path = cwipc_util
	url = ../cwipc_util
	branch = .
[submodule "cwipc_codec"]
	path = cwipc_codec
	url = ../cwipc_codec
	branch = .
[submodule "cwipc_realsense2"]
	path = cwipc_realsense2
	url = ../cwipc_realsense2
	branch = .
[submodule "cwipc_kinect"]
	path = cwipc_kinect
	url = ../cwipc_kinect
	branch = .
